body{
    margin: 0;
    padding: 0;
}
#canvas{
    background: grey;
    display:block;
    
}
.actions{
    position: fixed;
    bottom: 0;
    left: 0;
    
}   
.actions > #pencil{
    display: none;
}
.actions.x > #pencil{
    display: inline-block;
}
.actions.x > #eraser{
    display: none;
}